@tailwind base;
@tailwind utilities;
@tailwind components;

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #8f8ca8;
}

@layer base {
  .menu-buttons > .default-active:has(~ a:not([data-active="true"])) {
    @apply text-[#E0DEF2];
    @apply border-[#E0DEF2];
  }
}
